@charset "utf-8";
@import '../bulma/bulma.scss';

html, body {
    background: $white-ter;
}

//Navbar
nav.navbar { margin-bottom: 1rem; }
.navbar-item.brand-text {
  font-weight: 300;
}
.navbar-item, .navbar-link {
  font-size: 14px;
  font-weight: 700;
}

//Menu
.menu-label {
  color: $grey-dark;
  letter-spacing: 1.3;
  font-weight: 700;
}
.menu-list a {
  font-size: 14px;
  font-weight: 700;
}
.menu-list a:hover {
  background-color: transparent;
  color: $link;
}
.menu-list a.is-active {
  background-color: transparent;
  color: $primary;
  font-weight: 700;
}

//Info Tiles
.info-tiles {
  margin: 1rem 0;
}
.info-tiles .subtitle {
  font-weight: 300;
  color: $grey-dark;
}

//Custom Hero


.hero .title, .hero .subtitle {
  color: hsl(192, 17%, 99%);
}

.card .content {
  font-size: 14px;
}
.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: $grey-dark;
}
.card-table .table {
  margin-bottom: 0;
}
.events-card .card-table {
  max-height: 250px;
  overflow-y: scroll;
}
.table td > .far {
  font-size: 20pt;
}

.content table tbody tr:last-child td, .content table tbody tr:last-child th, .table tbody tr:last-child td, .table tbody tr:last-child th {
  border-top-width: 1px;
}
.content table td, .content table th, .table td, .table th {
  border-bottom-width: 0px;
}
.overflow-x-auto {
  overflow-x: auto;
}


// Full Width the editor
.panel-block#editor-box > div {
  width: 100%;
}