@charset "utf-8";

$mixerdark: #212c3d;

$primary: #0270d9;
$secondary: #3c506b;
$background: transparent;


@import '../../kiss/src//bulma/bulma.scss';

body, html {
  overflow: hidden ;
  background: $background;
}

input.shortcode {
  font-size: 25pt;
  text-align: center;
  border: none;
  letter-spacing: 25pt;
  font-weight: bold;
}

.graphics {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}